<!-- <div *ngIf="weather?.current; else unset"> -->

<nav>
  <div class="nav-wrapper">
    <!-- <span class="left main__location brand-logo">{{ weather?.timezone .substring(weather?.timezone .search(0, weather?.timezone .search('/')); }}</span> -->
    <span class="left main__location brand-logo">{{ _place }}</span>

    <ul class="right menu">
      <li>
        <div class="naw__lang">
          <!-- <label for=""> -->
          <select
            #langselect
            (change)="
              translate.use(langselect.value); changeLanguage(langselect.value)
            "
          >
            <option *ngFor="let lang of translate.getLangs()" [value]="lang">
              {{ lang }}</option
            >
          </select>
          <!-- </label> -->
        </div>
      </li>
      <li>
        <div class="switch">
          <label style="color: white;">
            °F
            <input
              (change)="FieldsChange($event)"
              value="angular"
              type="checkbox"
            />
            <span class="lever"></span>
            °C
          </label>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <app-currentday
    *ngIf="_weather?.current; else unset"
    class="main__current-weather"
    [currentLng]="currentLng"
    [current]="_weather.current"
    [isMetric]="isMetric"
  ></app-currentday>
</div>
<ng-template #unset>
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</ng-template>

<ul class="main__autherDay">
  <app-allday
    *ngFor="let item of _weather?.daily"
    [currentLng]="currentLng"
    [current]="item"
    [isMetric]="isMetric"
  >
  </app-allday>
</ul>
<!-- </div> -->
