<div *ngIf="_isLoad; else unset">
  <div class="currentday-card">
    <div class="horizontal current-card">
      <div class="main">
        <div class="current-card__tempDay">{{ _tempDay }}{{ _metricIcon }}</div>
        <!-- {{ 'HOME.TITLE' | translate }} -->
        <div>{{ _description }}</div>
        <img class="card-image" src="{{ _iconUrl }}" alt="weatherIcon" />
      </div>
      <div class="card-stacked mydescription">
        <div class="card-content current-card__text">
          <div>
            <div class="current-card__maintext">
              <span i18n class="">{{ "HOME.FELT" | translate }}</span>
              <span class="">{{ _feelsLike }}{{ _metricIcon }}</span>
            </div>

            <div class="current-card__maintext">
              <span i18n class="">{{ "HOME.HUMIDITY" | translate }}</span>
              <span class="">{{ _current?.humidity }} %</span>
            </div>

            <div class="current-card__maintext">
              <span i18n class="">{{ "HOME.CLOUDINES" | translate }}</span>
              <span class="">{{ _current?.clouds }} %</span>
            </div>

            <div class="current-card__maintext">
              <span i18n class="">{{ "HOME.WIND" | translate }}</span>
              <span class="">{{ _current?.wind_speed }} м/с</span>
            </div>

            <div class="current-card__maintext">
              <span i18n class="">{{ "HOME.WindDirection" | translate }}</span>
              <!-- <span class="">{{ _current?.wind_deg }}</span> -->
              <span i18n class="">{{ _windDirection }}</span>
            </div>
          </div>
        </div>
        <div class="card-action">
          <span>{{ _currentTime }} {{ _dt }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #unset>
  <div class="preloader-wrapper small active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</ng-template>
